---
import DropdownHeader from './DropdownHeader'
import Icon from '../utils/Icon.astro'
---

<header class="fixed top-0 w-full border border-input bg-primary p-4 py-2">
  <nav class="flex justify-between">
    <a href="/home">
      <div class="my-0 flex w-10 max-w-full"><Icon icon="PandereLogo" /></div>
    </a>
    <DropdownHeader client:load />
  </nav>
</header>
