---
import '@/styles/global.css'
import { ViewTransitions } from 'astro:transitions'
import Header from '../components/header/Header.astro'
import Spin from '@/components/shared/spin.html'
import { showSpinner, hideSpinner } from '../components/shared/spinner.ts'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Welcome to Pandere" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="@/components/shared/spinner.ts"></script>
  </head>
  <ViewTransitions handleForms />
  <body>
    <Spin />
  </body>
  <Header />
  <main class="mx-16 mt-28">
    <slot />
  </main>
</html>
